img {
    width: 500px;
    margin: 8px;
}

body {
    text-align: center;
    font-family: Helvetica;
    background-color:#809fff;
    color: black;
    margin: 20px;
}

.quote{
  font-style: italic;
}

#content{
  margin: 30px 0;
  background: white;
  padding: 10px
}

ul{
  text-align: left;
}

ol{
  text-align: left;
}

#footer{
  border-bottom: 1px #ccc solid;
}

#footer p{
  text-align: right;
  text-transform: uppercase;
  font-size: 80%;
  color: white;
}
