.parallax {
    /* The image used */
    background-image: url("img/robotWHITE.png");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-x space;
    background-size: 500px;
    background-color: #032133;
}

#head{
    height: 100vh;
    background-color: #06446b;
    opacity: 1;
    color: 	#F5F5F5;
}

#head h1{
    font-family: 'Permanent Marker', cursive;
}

#head h2{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

#head h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    background-color: #03253b
}

#head h4{
    font-family: 'Oswald', sans-serif;
}

#about .container,#faq .container{
    background-color: white;
    border-radius: 50px;
    padding: 25px;
}

#faq h4{
    font-size: 20px;
}

#sponsors{
    background-color: grey;
}

.sponsor {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}